{% extends "!page.html" %}

{% block extrahead %}
<style type="text/css">
    /* Styles for floating Edit on GitHub box */
    #editor-trap {
        padding: 1em;
        border: 1px solid white;
        width: 250px;

        display: none;
        color: white;
        background: #3f454b;
        position: fixed;
        bottom: 5px;
        left: 175px;
        font-size: 85%;
        text-align: left;
        z-index: 2;

        box-shadow: 0 4px 6px #333;
        -moz-box-shadow: 0 4px 6px #333;
        -webkit-box-shadow: 0 4px 6px #333;
        
        cursor: pointer;
    }

    #editor-trap h3 {
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #editor-trap h3 > span {
        padding: 0 6px;
        border: solid white;
        border-width: 0 1px 4px 1px;
        font-size: 10px;
    }

    #editor-trap a {
        color: #98DBCC;
    }

    #editor-trap ol {
        margin: 0;
        padding: 0 0 0 2em;
    }

    /* Hide trick */
    #editor-trap.toggled > * {
        display: none;
    }


    #editor-trap.toggled > h3 {
        display: block;
    }

    #editor-trap.toggled > h3 > span {
        border-width: 6px 1px 0 1px;
    }
    
    #edit-button {
        position: fixed;
        bottom: 5px;
        left: 5px;
        z-index: 2;
        width: 162px;
        height: 42px;
    }
</style>
{% endblock %}

{#

Add Editor Help Pop Up HTML.

Enable Analytics tracking on the docs.


#}
{% block footer %}
{{ super() }}
<div id="edit-button">
    <img src="{{ pathto('_static/edit.gif',1) }}" alt="编辑文档" title="编辑文档" onclick="javascript:$('#editor-trap').toggle();">
</div>
     
<div id="editor-trap">
    <h3>编辑此文档</h3>

    <p>
        这个文件的源码托管在GitHub上。任何人都可以更新文档或修改文档中的错误 - 不需要下载。
    <p>

    <ol>

        <li>
            登录你的 <a href="http://www.github.com">GitHub</a> 账户。
        </li>

        <li>
            跳转到
            <a href="https://github.com/shaoyikai/zf2-documentation/edit/master/zh/{{ pagename }}.rst">
                {{ title }}
            </a>
        </li>

        <li>
            在你的浏览器中使用github的文档编辑器编辑文档内容
        </li>

        <li>
            在页面下面填写<b>Commit message</b>，告诉我们 <i>为什么</i>
            你这么修改。完了后按下 <b>Propose file change</b> 按钮。
        </li>


        <li>
            在 <i>Send a pull request</i> 页，你不用填写任何东西。只用按下 <b>Send pull request</b> 按钮。
        </li>

        <li>
            你做的改变会放在github上项目 <a href="https://github.com/shaoyikai/zf2-documentation/pulls">Pull requests</a> 里面。
        </li>
    </ol>

</div>

{% endblock %}